<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: userScore + '%'}">
                    <p>
                        {{userScore}}
                    </p>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterScore + '%'}">
                    <p>
                        {{monsterScore}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section v-if="controls" class="row controls">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section v-else class="row controls">
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="hits.length">
        <div class="small-12 columns">
            <ul>
                <li v-for="hit in hits">
                  <p class="player-turn">Player {{action}} Monster for {{hit.player}}</p>  
                  <p class="monster-turn">Monster Hits Player for {{hit.monster}}</p>  
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <p>Coded by <a href="https://github.com/mubaral-bunza">M. A. Bunza</a></p>
    </footer>
</div>
<script src="main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="sweetalert2.min.js"></script>
</body>
</html>